body {
    background-color: #6074e6;
}

center {
    font-family: monospace;
}

.hiddenContent {    /* This class is used to hide the content of the div element */
    display: none;
}

button {   
    background-color: #b5c74f; 
}